@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Nunito;
    src: url('/Nunito.tff');
}

:root {
    font-family: Nunito;

    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #52a1f5;
        outline: none;
        border-radius: 8px;
    }
}

html {
  scroll-behavior: smooth;
}